body{
  background-image: url("1.jpg");;
  margin: 0;
}

p{
  text-align: center;
  font-size: 100%;
  font-style: oblique;
  font-style: calibri;
}

h1{
  float: none;
  color: black;
  margin: 1%;
  display: inline;
}

 nav ul{
  margin: 0;
  display: inline;
}

 nav ul li{
  list-style-type: none;
  display: inline-block;
  color: white;
  margin: 10px;
}

nav ul li a{
  padding: 10px;
  color: white;
}
